<!-- Reference: http://avexdesigns.com/responsive-youtube-embed/ -->

<div class="container">
    <div class="row">
        <h3>Mr. M.'s Responsive YouTube Player</h3>
        <hr>
    </div><!--.row -->
</div><!--./container -->

<div class="container">
    <div class="row">
        <div >
            <h4>Lorem Ipsum</h4>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p><img src="http://atascaderohayandfeed.com/images/ambbag.jpg" alt="tv">
            
           
      <!--.col -->
        
  
            <div class="vid">
                <iframe width="560" height="315" src="//www.youtube.com/embed/P6_kusE-vnI" allowfullscreen=""></iframe>
            </div><!--./vid -->
            
        </div><!--.col -->
        
    </div><!--./row -->
    
</div><!--./container -->
