<div class="jumbotron" style="height:407px; text-align:center; background-image:url('http://908191710.r.cdn77.net/media/wysiwyg/Woodburner_Warehouse/slides/morso_slide.jpg')">
  <h1>Eagle Valley Wood Pellets</h1>
  <p>Domestic Boiler Wood Pellets</p>
  <p><a class="btn btn-primary btn-lg" href="/products">Buy Pellets</a></p>
</div>






























