<div>
    <% flash.each do |key, value| %>
      <div>
        <a href="#" data-dismiss="alert">×</a>
        <%= value %>
      </div>
    <% end %>
  </div>
<div class="container" style="height:407px; width:90%; text-align:center; background-image:url('http://908191710.r.cdn77.net/media/wysiwyg/Woodburner_Warehouse/slides/morso_slide.jpg')">  
 <div class="container title">
  <h1>
    Eagle Valley Wood Pellets 
  </h1>
  <br>
  <h1>£285.00</h1><h3>per tonne</h3>
  <a href="/products" class="btn btn-danger btn-large"><i class="icon-white icon-thumbs-up"></i> Buy Wood Pellets Now!</a>
 </div>

  
</div>

































