<div class="container">
	<div class="row">
<% @products.each do  |product| %>

<div class="span2 player-image" style="padding-top:30px">
<img src="<%= product.image_url%>">
</div>

<div class="span4 player-image" style="padding-top:30px">
<h1><%= product.ProductName %></h1>
<br>
<h2><%= product.quantity %> Bags</h2>
<br>

<h2>£<%= product.price %></h2>

</div>
<% end %>
</div>
</div>