<div class="container">
	<div class="row">

<div class="span2 player-image" style="padding-top:30px">
<img src="http://atascaderohayandfeed.com/images/ambbag.jpg">
</div>

	<div class="span4 player-image" style="padding-top:30px">
		<h1> Eagle Valley </h1>
		<br>
		<h2> 80 bags </h2>
		<br>
		<h2> £80 </h2>
		<br>
		<a href="/products/one">Buy</a>
	</div>



	<div class="span2 player-image" style="padding-top:30px">
<img src="http://atascaderohayandfeed.com/images/ambbag.jpg">
</div>

	<div class="span4 player-image" style="padding-top:30px">
		<h1> Eagle Valley </h1>
		<br>
		<h2> 80 bags </h2>
		<br>
		<h2> £80 </h2>
		<br>
		<a href="/products/two">Buy</a>
	</div>



	<div class="span2 player-image" style="padding-top:30px">
<img src="http://atascaderohayandfeed.com/images/ambbag.jpg">
</div>

	<div class="span4 player-image" style="padding-top:30px">
		<h1> Eagle Valley </h1>
		<br>
		<h2> 80 bags </h2>
		<br>
		<h2> £80 </h2>
		<br>
		<a href="/products/three">Buy</a>
	</div>

<div id="1">
	<div class="span2 player-image" style="padding-top:30px">
<img src="http://atascaderohayandfeed.com/images/ambbag.jpg">
</div>

	<div class="span4 player-image" style="padding-top:30px">
		<h1> Eagle Valley </h1>
		<br>
		<h2> 80 bags </h2>
		<br>
		<h2> £80 </h2>
		<br>
		<a href="/products/four">Buy</a>
	</div>
	</div>

</div>
</div>