<div class="container">
	<div class="row">

<div class="container">
<div class="span2 player-image" style="padding-top:30px; padding-right:100px">
<img src="http://atascaderohayandfeed.com/images/ambbag.jpg">
</div>

	<div class=" player-image" style="padding-top:30px">
		<h1> 40 x 12.5kg Bags of The Yard - Fine Wood Pellet Animal Bedding </h1>
		<br>
		
		<br>
		<h2> £80 </h2>
		<br>
		<a href="/products/one" class="btn btn-danger btn-large"><i class="icon-white icon-thumbs-up"></i> Buy </a>
	</div>
	</div>



<div class="container">
	
<div class="span2 player-image" style="padding-top:30px; padding-right:100px">
	<img src="http://atascaderohayandfeed.com/images/ambbag.jpg">
</div>

	<div class=" player-image" style="padding-top:30px">
		<h1> 40 x 12.5kg Bags of The Yard - Fine Wood Pellet Animal Bedding </h1>
		<br>
		
		<br>
		<h2> £80 </h2>
		<br>
				<a href="/products/two" class="btn btn-danger btn-large"><i class="icon-white icon-thumbs-up"></i> Buy </a>
	</div>
	</div>




<div class="container">

<div class="span2 player-image" style="padding-top:30px; padding-right:100px"><img src="http://atascaderohayandfeed.com/images/ambbag.jpg">
</div>

	<div class=" player-image" style="padding-top:30px">
		<h1> 40 x 12.5kg Bags of The Yard - Fine Wood Pellet Animal Bedding </h1>
		<br>
		
		<br>
		<h2> £80 </h2>
		<br>
				<a href="/products/three" class="btn btn-danger btn-large"><i class="icon-white icon-thumbs-up"></i> Buy </a>
	</div>
	</div>


<div class="container">

<div class="span2 player-image" style="padding-top:30px; padding-right:100px">
<img src="http://atascaderohayandfeed.com/images/ambbag.jpg">
</div>

	<div class=" player-image" style="padding-top:30px">
		<h1> 40 x 12.5kg Bags of The Yard - Fine Wood Pellet Animal Bedding </h1>
		<br>
		
		<br>
		<h2> £80 </h2>
		<br>
				<a href="/products/four" class="btn btn-danger btn-large"><i class="icon-white icon-thumbs-up"></i> Buy </a>
	</div>
	</div>


</div>
</div>