<!DOCTYPE html>
<html>
<head>
  <title>WoodPellets</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


<!-- world pay code -->
  <title>HTML Redirect Example 0.1</title>
	<meta http-equiv="Content-Type" content="text/html">
	<meta name="description" content="Junior HTML Example 0.1">
	<meta name="keywords" content="Junior, html">
	<style type="text/css">td {text-align:"left"; vertical-align:"middle"; font-family:"arial"; color:"black"} h1,h2,h3,h4,h5,h6,h7 {text-align:"center"; vertical-align:"middle"; font-family:"arial"; color:"black"}</style>
	<!-- end of world pay code -->
</head>
<body>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="/products">Profile</a></li>
  <li><a href="#">Messages</a></li>
  <li><a href="/contacts/new">Contact</a></li>
</ul>

<%= yield %>

</body>
</html>
